ErrorDocument 404 /controllers/404.php
ErrorDocument 500 /controllers/500.php
ErrorDocument 403 /controllers/403.php
ErrorDocument 503 /controllers/503.php
ErrorDocument 400 /controllers/400.php
<IfModule mod_rewrite.c>
 # Rewrite personaliser

    Options +FollowSymlinks
    RewriteEngine on

    # redirect
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^accueil$ index.php$1 [L]
    RewriteRule ^contacts$ controllers/contacts.php$1 [L]
    RewriteRule ^apropos$ controllers/about.php$1 [L]
    RewriteRule ^produits$ controllers/produit.php$1 [L]
    RewriteRule ^login$ controllers/login.php$1 [L]
    RewriteRule ^register$ controllers/register.php$1 [L]
    RewriteRule ^publier-propriete$ controllers/publier-propriete.php$1 [L]
    RewriteRule ^detail_propriete$ controllers/detail_produit.php$1 [L]
    RewriteRule ^profile$ controllers/profile.php$1 [L]
    RewriteRule ^mypropriete$ controllers/mypropriete.php$1 [L]
    RewriteRule ^edit_property$ controllers/edit_property.php$1 [L]
    RewriteRule ^faq$ controllers/faq.php$1 [L]
    RewriteRule ^search_propriete$ controllers/search_propriete.php$1 [L]

</IfModule>