{% extends 'layout.kmphtml.twig' %}
{% block title %}FAQ | BIENSELOGER{% endblock %}
{% block contenu %}

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">FAQ PAge</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->

    <!-- property area -->
    <div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                    <!-- /.feature title -->
                    <h2>Conditions Générales d'Utilisation</h2>
                    <br>
                </div>
            </div>

            <div class="row row-feat">
                <div class="col-md-12">

                    <div class="col-sm-6 feat-list">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa1" >
                                        Préambule
                                    </h4>
                                </div>
                                <div id="fqa1" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Bienvenue sur <strong>Bienseloger.immo</strong>. En accédant à <a href="www.bienseloger.immo">la plateforme bienseloger</a> ainsi que les sites connexes, applications ou outils (collectivement nommés “Bienseloger.immo”), vous acceptez les termes suivants y compris ceux accessibles par hyperlien qui sont conçus pour s’assurer que Bienseloger.immo fonctionne correctement pour l’ensemble de ces utilisateurs. Bienseloger.immo vous est fourni par Capital Consulting SARL. Ces conditions d’utilisation constituent un accord juridiquement contraignant entre vous et Bienseloger.immo à partir de Octobre 2022 pour les utilisateurs actuels ou futurs. Vous acceptez ces conditions d’utilisation en cliquant sur “créer un compte” lors de l’enregistrement sur Bienseloger.immo ou en accédant ou utilisant les sites, services, applications ou outils de Bienseloger.immo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2" >
                                        Généralités
                                    </h4>
                                </div>
                                <div id="fqa2" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Dans l'hypothèse où l'une des modalités figurant dans les Conditions d'utilisation serait considérée comme illégale, invalide ou pour toute raison inapplicable, les autres stipulations des présentes Conditions d'utilisation resteront en vigueur. Nous pouvons céder nos droits et obligations conformément aux présentes Conditions d’utilisation et en conformité avec ce qui suit (et ce sans votre consentement exprès et préalable), à condition que nous cédions les présentes Conditions d’utilisation dans les mêmes termes ou dans des termes qui ne seront pas moins avantageux pour vous. Les titres des différents articles figurant dans les présentes Conditions d'utilisation sont purement indicatifs et ne déterminent pas nécessairement avec précision le contenu des articles auxquels ils se réfèrent. Notre absence de réaction à la suite d'une violation des présentes Conditions d'utilisation par vous ou un tiers n'altérera aucunement notre droit à réagir en cas de violation ultérieure ou similaire. Si vous avez un litige avec un ou plusieurs utilisateurs, vous renoncez à formuler toute réclamation ou demande notamment visant à obtenir des dommages (réels et indirects) de quelque nature, découlant de liés à ces litiges la responsabilité de Bienseloger.immo (nos sociétés affiliées et filiales, ainsi que celles de nos dirigeants, administrateurs, et employés). Nous pouvons modifier les présentes Conditions d’utilisation à tout moment et vous serez informé par e-mail, ou enfin en publiant les conditions modifiées sur www.bienseloger.immo. Toutes les modifications seront effectives 30 jours après avoir été mises en ligne. Les présentes Conditions d'utilisation ne peuvent être modifiées d'aucune autre façon, sauf en cas d'accord écrit signé entre Bienseloger.immo et tout utilisateur. Les règlements publiés sur nos sites peuvent être modifiés. Les modifications prennent effet à compter de leur mise en ligne sur le site Bienseloger.immo. Aucun partenariat, agence, joint-venture, relation employé-employeur ou franchiseur-franchisé n'est prévu ou créé par les présentes Conditions d'utilisation. Les présentes Conditions d'utilisation, le règlement sur le respect de la vie privée ainsi que tous règlements ici incorporés constituent l'intégralité de l'accord conclu entre nous. Elles annulent et remplacent tout autre accord ou arrangement existant entre les parties. Sauf pour les notifications relatives aux contenus illégaux ou contrefaits, toutes vos notifications devront être adressées à Bienseloger.immo par courriel à contact@bienseloger.immo. Nous répondrons à l’adresse email que vous aurez utilisé pour nous envoyer votre courriel ou que vous aurez utilisé lors de votre inscription à Bienseloger.immo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa3" >
                                        Abuser de Bienseloger.immo
                                    </h4>
                                </div>
                                <div id="fqa3" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Bienseloger.immo et sa communauté veillent ensemble sur le bon fonctionnement des sites, services, applications et outils Bienseloger.immo ainsi que sur la sécurité de sa communauté. Veuillez s’il vous plait signaler tout problème, offense ou violation d’un quelconque contenu ou politique de Bienseloger.immo. Sans limitation des autres recours, nous pouvons émettre des avertissements, limiter ou mettre fin à notre service, retirer certains contenus hébergés et prendre des mesures juridiques et techniques pour garder les utilisateurs en dehors de Bienseloger.immo si nous pensons qu'ils créent des problèmes, portent atteinte aux droits de tiers ou agissent d'une manière incompatible avec notre règlement. Cependant, si nous décidons de prendre une de ces mesures, retirer certains contenus hébergés ou garder un utilisateur en dehors de Bienseloger.immo, nous n’avons aucune obligation de surveiller les informations transmises ou stockées sur nos sites, services, applications et outils et nous n’acceptons aucune responsabilité pour le contenu non autorisé ou illégal sur Bienseloger.immo ou l'utilisation de Bienseloger.immo par les utilisateurs.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa4" >
                                        Contenu
                                    </h4>
                                </div>
                                <div id="fqa4" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Bienseloger.immo dispose de contenu que nous vous fournissons à vous et à d’autres utilisateurs. Bienseloger.immo est protégé par les lois et les traités internationaux. Le contenu affiché sur ou via Bienseloger.immo est protégé comme étant un travail collectif et / ou compilation, conformément aux droits d'auteur, lois et conventions internationales. Vous acceptez de ne pas copier, distribuer ou modifier le contenu de Bienseloger.immo sans notre consentement écrit explicite. Vous ne pouvez pas décompiler ou désassembler, désosser ou tenter de découvrir le code source contenu dans Bienseloger.immo. Sans limiter ce qui précède, vous acceptez de ne pas reproduire, copier, vendre, revendre ou exploiter à des fins un quelconque aspect de Bienseloger.immo (autre que votre propre contenu). Lorsque vous nous donnez du contenu, vous nous accordez et déclarez que vous avez le droit de nous accorder, une licence non exclusive, mondiale, perpétuelle, irrévocable, sous-licence (à plusieurs titres) libre de droit d'exercer tous les droits d'auteur, publicité, marques de commerce, conception, base de données et droits de propriété intellectuelle à ce contenu ou dans tous médias que ce soit présentement ou ultérieurement et sur tous les autres sites, services, applications et outils qui font partie de la communauté mondiale de Bienseloger.immo : Bienseloger.immo ou nos sites de petites annonces dans d'autres pays. En outre, vous renoncez, dans la limite des dispositions légales, à tous vos droits moraux dans les contenus précités.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa9" >
                                        Violations
                                    </h4>
                                </div>
                                <div id="fqa9" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Vous ne devez pas poster de contenu qui viole les droits de quelconque parties tierces. Cela inclut, mais n'est pas limité à : un contenu qui porte atteinte aux droits de propriété intellectuelle tels que les droits d'auteur, la conception et la marque (par exemple, offrant des articles de contrefaçon à la vente). Un grand nombre de produits de toutes sortes sont offerts sur Bienseloger.immo par des particuliers à des particuliers. Les propriétaires de copyright peuvent signaler toute annonce qui pourrait empiéter sur leurs droits, et de soumettre une demande pour une telle publicité pour être enlevés. Si un représentant légal nous signale cela de manière correcte, les produits de contrefaçon ou les droits d’auteur seront supprimés par Bienseloger.immo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa11" >
                                        Résolution de différends
                                    </h4>
                                </div>
                                <div id="fqa11" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            En cas de litige entre vous et Bienseloger.immo, nous vous encourageons vivement à nous contacter en premier lieu pour rechercher une solution à l’amiable. Nous prendrons en considération les demandes raisonnables de résolution de litige par le biais de procédures alternatives, telles que la médiation ou l’arbitrage, tels que des alternatives à une procédure judiciaire. Sauf indication expresse contraire, les présentes Conditions d'utilisation sont régies par le droit Ivoirien. Les utilisateurs agissant en tant que professionnels acceptent que toute réclamation ou litige qu’ils ont à l'encontre de Bienseloger.immo soit résolu par le Tribunal de Commerce d’Abidjan.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 feat-list">

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa5" >
                                        Informations personnelles
                                    </h4>
                                </div>
                                <div id="fqa5" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            En utilisant Bienseloger.immo, vous consentez à la collecte, le transfert, le stockage et l'utilisation de vos informations personnelles sur des serveurs par Bienseloger.immo situés en Amérique ou tout autre endroit. Comme cité dans notre politique de confidentialité, vous acceptez aussi de recevoir de la communication et/ou du marketing de notre part sauf si vous nous communiquez que vous préférez ne pas en recevoir. Politique de confidentialité. Vous acceptez également de recevoir des informations commerciales, sauf en cas d'indication contraire.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa6" >
                                        Condition d’utilisation
                                    </h4>
                                </div>
                                <div id="fqa6" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Comme condition de votre utilisation de Bienseloger.immo (y compris ses sites web, services, applications et/ou outils) vous acceptez de : ne violer aucune loi, règles de dépôt d’annonces; de ne pas déposer d’annonces menaçantes, abusives, diffamatoires, obscènes ou à caractère indécent; de ne pas déposer ou communiquer un matériel faux ou trompeur; violer tout droit de tiers, envoyer des spams ou des messages de chaines, promouvoir des systèmes pyramidaux; diffuser des virus ou autres technologies qui peuvent nuire à Bienseloger.immo ou aux intérêts et biens des utilisateurs de Bienseloger.immo; imposer ou contribuer à imposer toute charge déraisonnable sur notre infrastructure ou interférer avec le bon fonctionnement de Bienseloger.immo; copier, modifier ou partager les contenu et données d’autres personnes sans leur consentement; utiliser des robots, analyseur ou autre moyen automatisé pour accéder à Bienseloger.immo ou en collecter du contenu pour toutes sortes de fins; recueillir ou collecter des informations concernant les utilisateurs, y compris leurs adresses email sans leur consentement; copier ou modifier ou partager les droits ou le contenu du site, services, applications outils et droits d’auteur Bienseloger.immo; vendre des produits contrefaits ou violer les droits d’auteurs de marques ou autres droits de tiers. Vous êtes seul responsable de toutes les informations que vous soumettez à Bienseloger.immo et de toutes les conséquences qui pourraient découler de votre annonce. Nous nous réservons le droit, à notre discrétion, de refuser ou supprimer du contenu que nous jugeons inapproprié ou enfreignant les termes ci-dessus. Nous nous réservons également le droit, à notre discrétion, de limiter l'utilisation d'un utilisateur de Bienseloger.immo soit temporairement ou de manière permanente, ou de refuser l'enregistrement d'un utilisateur. Si nous jugeons que vous enfreignez ces Conditions d'utilisation en aucune façon et / ou que vous exercez un comportement suspect sur les sites, services, applications ou outils Bienseloger.immo, nous pouvons à notre discrétion, informer les autres utilisateurs Bienseloger.immo qui ont été en contact avec vous et leur recommander d’être prudents.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa7" >
                                        Communauté
                                    </h4>
                                </div>
                                <div id="fqa7" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Quelques caractéristiques de Bienseloger.immo peuvent afficher votre annonce sur d’autres sites, services, applications ou outils qui font partie de la communauté Bienseloger.immo. En utilisant Bienseloger.immo vous acceptez que vos annonces puissent être affichées sur ces autres sites, services, applications et outils. Les termes de nos autres sites, services, applications et outils sont similaires à ces termes, mais vous pouvez être soumis à des lois supplémentaires ou d'autres restrictions dans les pays où votre annonce est affichée. Lorsque vous choisissez de publier votre annonce sur un autre site, service, application ou outil, vous pouvez être responsable de vous assurer qu'elle ne viole pas les autres règlements du site, services, applications et outils. Votre annonce pourra être retirée de tout site, service, application ou outil si elle est jugée problématique ou viole une quelconque loi applicable ou politique de Bienseloger.immo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa8" >
                                        Remboursements
                                    </h4>
                                </div>
                                <div id="fqa8" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Pour tout achat d'options payantes sur Bienseloger.immo, aucun remboursement ne sera effectué en cas de rejet d'une annonce, quelqu'en soit la raison. De même, tout échec de transaction ne sera pas remboursé, quelque soit le mode de paiement utilisé.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa10" >
                                        Responsabilité
                                    </h4>
                                </div>
                                <div id="fqa10" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Nous nous efforçons de maintenir toute sécurité sur Bienseloger.immo et dans le fonctionnement de nos services, mais nous ne pouvons pas garantir un accès continu et sécurisé à nos services, dans la mesure où le bon fonctionnement de nos services peut être affecté par de nombreux facteurs que nous ne contrôlons pas. En effet, certaines fonctionnalités peuvent subir des retards qui échappent au contrôle de Bienseloger.immo. Bienseloger.immo (y compris ses affiliés, dirigeants, administrateurs, mandataires et employés) ne saurait être tenu responsable à titre contractuel, délictuel (même en cas de négligence) ou autre, de toute perte commerciale que vous pourriez subir (pertes de données, de bénéfices, de chiffre d'affaires, d'activité, d'opportunités, de valeur de la clientèle, de réputation ou interruption d'activité) ou de toute perte n'étant pas raisonnablement prévisible et découlant, directement ou indirectement : de votre utilisation de nos services, ou de votre incapacité à les utiliser ; de conseil sur les politiques de prix, l’affranchissement ou tout autre conseil fourni par Bienseloger.immo ; des éventuels retards ou perturbations de nos services ; de virus ou de tout autre logiciel malveillant obtenu en accédant, ou en lien avec nos services ; de dysfonctionnements, bugs, erreurs ou inexactitudes quelconques présents sur nos sites ; de tout dommage subi par vos matériels informatiques résultant de votre utilisation des services Bienseloger.immo ; du contenu, des actions ou de l'absence d'action de parties tierces (notamment en ce qui concerne les objets mis en vente à l'aide de nos services), ou de la destruction d'objets suspectés de constituer des contrefaçons ; de la suspension ou de toute autre action entreprise vis-à-vis de votre compte ou d'une violation décrite dans la section Violation des Conditions d'utilisation de Bienseloger.immo; de la durée pendant laquelle vos annonces s'affichent ni de la forme sous laquelle elles apparaissent dans les résultats de recherche; ou de la nécessité de modifier vos pratiques, contenu ou comportement, ou de la perte ou de l'incapacité à exercer vos activités à la suite des modifications apportées aux présentes Conditions d'utilisation ou à nos règlements. Dans les limites de la législation en vigueur, nous excluons toutes garanties, conditions ou autres dispositions, et ne pouvons être tenus pour responsables d'une perte financière ou de réputation, ni des dommages spéciaux, indirects ou induits résultant de ou liés à l'utilisation de nos sites et services. Cette exclusion ne s’applique pas si vous agissez en tant que consommateur. Sauf dans le cas où elle aurait été dûment informée de l'existence d'un contenu illicite au sens de la législation en vigueur, et n'aurait pas agi promptement pour le retirer, Bienseloger.immo ne peut pas être tenue responsable ni du contenu ou des actions (ou absence d'action) des utilisateurs, ni des objets qu'ils mettent en vente. Vous assumez l'entière responsabilité quant à la légalité de vos actions en vertu des lois qui vous sont applicables et quant à la légalité des objets que vous mettez en vente sur nos sites. Bien que nous utilisions des techniques visant à vérifier l'exactitude et la véracité des informations fournies par nos utilisateurs, cette vérification reste difficile sur internet. Pour cela Bienseloger.immo ne peut pas, ne confirme pas, et n'est en aucune façon responsable pour assurer l'exactitude ou la véracité des identités présumées des utilisateurs ou la validité de l'information qu'ils nous fournissent ou publient sur nos sites. Sans préjudice des stipulations prévues au paragraphe précédent, si Bienseloger.immo est tenue responsable par la juridiction compétente, envers un utilisateur ou un tiers agissant en tant que professionnel, notre responsabilité ne peut excéder le plus important des montants suivants : 25000 (Francs CFA). Aucune stipulation des présentes Conditions d’utilisation ne doit limiter ou exclure notre responsabilité pour fausse déclaration intentionnelle, de décès ou de blessures résultant de notre négligence ou de celle de nos agents ou employés ou de toute autre responsabilité qui ne peut être exclue ou limitée par la loi.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- property area -->

            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                    <!-- /.feature title -->
                    <h2>Politique de confidentialité</h2>
                    <br>
                </div>
            </div>

            <div class="row row-feat">
                <div class="col-md-12">

                    <div class="col-sm-6 feat-list">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2-1" >
                                        Sommaire
                                    </h4>
                                </div>
                                <div id="fqa2-1" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <ol>
                                            <li>Informations générales</li>
                                            <li>Les données collectées sur notre site</li>
                                            <li>Exploitation des données vous concernant</li>
                                            <li>Fins commerciales</li>
                                            <li>Cookies</li>
                                            <li>Accès, vérification et modification de vos données personnelles</li>
                                            <li>Protection et sauvegarde de vos données personnelles</li>
                                            <li>Autres informations</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2-2" >
                                        Informations générales
                                    </h4>
                                </div>
                                <div id="fqa2-2" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            La présente Politique de Confidentialité décrit la politique de bienseloger.immo concernant la collecte, le traitement, la sauvegarde, le partage et la protection de vos données personnelles (« Politique de confidentialité »). Cette Politique de Confidentialité s’applique au site bienseloger.immo et à tous les sites annexes, applications, services et outils où l’on fait référence à cette politique (« Services »), indifféremment de la façon dont vous accédez aux Services, y compris un accès à travers des dispositifs mobiles. Les données sont collectées par Capital Consulting SARL (« Bienseloger.immo » ou « nous »).
                                            <br><strong>Cadre et accord :</strong> En utilisant ou en interagissant avec Bienseloger.immo et ses services annexes, vous concluez un accord avec nous et acceptez que vos informations soient collectées, utilisées, traitées et sauvegardées conformément à la présente Politique de Confidentialité et nos Conditions d’utilisation.
                                            <br>Nous pouvons occasionnellement apporter des modifications à la présente Politique de Confidentialité, c’est pourquoi nous vous prions de consulter régulièrement la présente Politique de Confidentialité. Si nous apportons des modifications que nous estimons importantes, nous vous en informerons par l’intermédiaire de notre site Bienseloger.immo. Votre utilisation du Service postérieurement à ces modifications vaudra acceptation desdites modifications. Cette Politique de Confidentialité est effective à compter du 27 Octobre 2022.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2-3" >
                                        Exploitation des données vous concernant
                                    </h4>
                                </div>
                                <div id="fqa2-3" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Vous consentez à ce que vos données personnelles (voir ci-dessus) soient utilisées de la façon suivante:
                                            <br>
                                            <ul>
                                                <li>Vous garantir l’accès à nos Services et au Support Client via email ou téléphone ;</li>
                                                <li>Prévenir, détecter ou enquêter sur de potentiels abus ou activités illégales, fraude ou entrave à la sécurité du Site ou pour renforcer nos Conditions d’utilisation.</li>
                                                <li>Personnaliser, mesurer et améliorer nos Services, contenus et publicités.</li>
                                                <li>Vous contacter par email, vous envoyer des alertes, messages (SMS) ou par téléphone afin d’enquêter sur la qualité de nos Services ;</li>
                                                <li>Pour des activités de marketing ciblées, des mises à jour, et des offres promotionnelles basées sur vos préférences préalablement renseignées (lorsque cela s’applique), ou pour tout autre but comme mentionné dans la présente Politique de Confidentialité ;</li>
                                                <li>Vous fournir d’autres services demandés comme indiqués dans les informations que nous avons collectés.</li>
                                            </ul>
                                            <br><strong>Partage d’information et sauvegarde sur les sites de réseaux sociaux :</strong>
                                            Si vous nous accordez l’accès à vos données personnelles stockées sur des sites tiers, l’étendue de cet accès peut varier selon les sites et sera à la fois déterminé par vos paramètres de navigation et votre accord. Si vous souhaitez intégrer un compte du service tiers à votre compte sur www.bienseloger.immo et consentiez à ce que nous ayons accès aux données des comptes de ces services tiers, vous consentez également à ce que nous recueillions, utilisions et sauvegardions les données de ces sites tiers en accord avec la présente Politique de Confidentialité. Transfert de vos données personnelles vers des services tiers : nous sommes en mesure de révéler vos données personnelles à des services tiers en accord avec la présente Politique de Confidentialité, la législation et réglementation en vigueur. Comme mentionné sous la Section 4, nous n’allons pas révéler vos données personnelles à des services tiers souhaitant les utiliser à des fins commerciales sans avoir préalablement reçu votre consentement. Nous pouvons partager vos données personnelles avec :
                                            <br>
                                            <ul>
                                                <li>Des entreprises de Capital Consulting (i.e. Bienseloger.immo qui fait parti du susdit groupe) afin de fournir des contenus et des services conjoints (tels que l’inscription, le Support Client), prévenir, détecter et enquêter sur de potentiels abus ou activités illégales, infraction contre notre politique, fraude et/ou violation de la sécurité des données, et afin d’appuyer la prise de décision sur les produits, sites, applications, Services, outils et communication. Les entreprises de Capital Consulting vont utiliser ces données seulement pour vous envoyer des messages promotionnels lorsque vous les avez vous-même sollicité, et l’utilisation de vos données personnelles se fera en accord avec leurs respectives politiques de confidentialité.</li>
                                                <li>Des fournisseurs avec lesquels nous avons signé un contrat et avec lesquels nous travaillons pour améliorer nos Services sur le site, tels que des agents financiers, agences marketing et support technique. Dans tels cas, les données personnelles doivent rester sous le contrôle de Bienseloger.immo.</li>
                                                <li>Certaines tierces parties (tels que les titulaires de droits de propriété intellectuelle, autorités de contrôle, autorités fiscales, investisseurs, polices et autres autorités publiques) si nous sommes contraints par la loi de le faire, ou en accord avec la présente Politique de Confidentialité. Nous pouvons être amenés à partager vos données personnelles :</li>
                                                <li>Afin de respecter une obligation légale ou une décision judiciaire ; ou</li>
                                                <li>Si cela s’avère nécessaire pour la prévention, enquête ou poursuites judiciaires contre un délit pénal, tels que fraude, tromperie, accusation, ou</li>
                                                <li>Si cela s’avère nécessaire au respect de notre politique ou pour la protection des droits et libertés individuelles ;</li>
                                                <li>Autres services tiers avec qui vous avez consenti de partager vos données personnelles via (même chose que ci-dessus s’applique), e. g. dans le cadre d’une collaboration.</li>
                                                <li>Entreprises avec lesquelles nous avons l’intention de fusionner dans un contexte de réorganisation ou qui a racheté notre compagnie.</li>
                                                <li>Un titulaire de propriété intellectuelle, si ce titulaire de droit de propriété intellectuelle ou un médiateur juge, en toute bonne foi, qu’une annonce enfreindrait les droits du propriétaire. Avant de fournir toute information personnelle, le titulaire de l’adresse IP devra conclure un accord stipulant, entre autre, que l’information est seulement fournie avec la stricte condition que celle-ci soit utilisée exclusivement dans le contexte d’une procédure judiciaire et/ou en vue d’obtenir des conseils juridiques et/ou afin de répondre aux questions d’un membre du corps judiciaire.</li>
                                            </ul>
                                            <br>Sans nous restreindre à tout ce qui précède, nous devons également – dans un effort continuel : respecter votre vie privée et faire en sorte que le site soit exempt de personnes ou partis malveillants – éviter de dévoiler vos données personnelles à des tierces parties sans une ordonnance judicaire ou une demande formelle émanant du gouvernement et respectant la réglementation en vigueur, à moins de juger, en toute bonne foi, que cette divulgation est nécessaire (i) dans le but de, ou en connexion avec, toute procédure légale (y compris des procédures judiciaires prospectives), dans le but d’obtenir des conseils juridiques ou si nécessaire dans le but d’établir, exercer ou défendre des droits légaux, (ii) est nécessaire dans la prévention et enquête criminelle, l’arrestation ou la poursuite de délinquants, ou dans le contrôle ou le prélèvement d’impôts ou de taxes, (iii) est requise par des membres du corps judiciaire chargé de faire appliquer la réglementation.<br>
                                            <strong>Informations partagées sur Bienseloger.immo :</strong> Notre Site Internet permet aux utilisateurs de partager des annonces et autres types d’informations avec d’autres utilisateurs, ainsi permettant à ces utilisateurs d’avoir accès aux informations partagées. Puisque notre Site vous permet également d’entrer directement en contact avec un acheteur ou un vendeur, nous vous conseillons de bien veiller à la façon dont vous partagez vos données personnelles avec les autres. Vous êtes le seul et unique responsable des données que vous partagez sur notre site et par conséquent nous ne pouvons garantir le caractère privé ou la sécurité des données que vous avez partagé avec d’autres utilisateurs.
                                        Dans le cas où vous accédez à notre site à partir d’un ordinateur partagé ou d’un poste dans un cyber café, nous vous conseillons fortement de vous déconnecter après chaque session. Si vous ne souhaitez pas que l’ordinateur partagé enregistre dans son disque dur vos données et/ou identifiants, vous devez supprimer les cookies et/ou l’historique des sites visités.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2-4" >
                                        Cookies
                                    </h4>
                                </div>
                                <div id="fqa2-4" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Un cookie est un petit fichier qui est placé sur votre ordinateur, téléphone portable, ou autre appareil, lorsque vous vous connectez à un site. Les cookies aident les créateurs de sites à vous reconnaître lors de votre seconde visite. Lorsque vous utilisez nos services, nos fournisseurs et nous-même pouvons employer des cookies ou des balises (des images électroniques placées dans le code d’une page web) ou des technologies similaires. Cela nous permet de vous identifier lors de votre prochaine visite et ainsi pouvoir vous proposer une meilleure expérience utilisateur sur notre site, mesurer l’efficacité de nos offres commerciales, garantir votre confiance et assurer la sécurité de notre site. Pour obtenir plus d’informations sur l’utilisation des cookies et les technologies similaires ou associées, veuillez consulter notre Politique sur les Cookies, Balises Web et autres technologies similaires.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2-9" >
                                        Protection et sauvegarde de vos données personnelles
                                    </h4>
                                </div>
                                <div id="fqa2-9" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Nous mettons tout en œuvre pour protéger les données de nos utilisateurs. Pour cela, nous avons mis en place des mesures technologiques et administratives (telles que pare-feu, cryptage des données envoyées, contrôle de l’accès physique et administratif aux données et aux serveurs) qui limitent les risques de perte, abus, accès non autorisé, divulgation ou modification. Toutefois, si vous pensez être victime d’un piratage, veuillez nous contacter au plus vite en nous envoyant le Formulaire de Contact ou un email à contact@bienseloger.immo.
                                            Nous sauvegardons les données dans la limite permise par la réglementation en vigueur et les supprimons lorsqu’ils ne sont plus utiles pour les raisons décrit ci-dessus.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 feat-list">

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2-5" >
                                        Les données collectées sur notre site
                                    </h4>
                                </div>
                                <div id="fqa2-5" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Vous pouvez visiter notre site sans enregistrer un compte. Lorsque vous décidez de nous fournir vos données personnelles, vous consentez à ce que ces informations soient envoyées et stockées sur nos serveurs. Voici les types d’informations que nous collectons :
                                            <br><strong>Informations collectées automatiquement :</strong> Lorsque vous visitez notre site internet, utilisez nos Services et/ou répondez à des annonces ou autres contenus, nous recueillons automatiquement les informations fournies par votre ordinateur, votre téléphone portable ou autre type d’appareils fournissant l’accès au site. Ces informations comprennent, mais ne sont pas limitées à :
                                            <br>
                                            <ul>
                                                <li>Informations suite à votre interaction avec notre site internet ou Services, y compris, mais pas limitées à, l’URL à partir de laquelle vous accédez au site Bienseloger.immo, votre adresse IP, le type d’appareil et le numéro d’identification unique de votre appareil, les performances du réseau et de l’ordinateur, les statistiques sur le nombre de pages vues, le trafic vers et à partir de Bienseloger.immo, les données sur les annonces, le type de navigateur, la langue et les informations d’identification, des informations relatives à la localisation.</li>
                                                <li>Informations collectées via les cookies, les balises web et autres technologies similaires. Information que vous nous fournissez : Nous recueillons et sauvegardons tout type d’informations que vous fournissez en utilisant nos Services ou lorsque vous créez un compte sur notre site. Ces informations peuvent être les suivantes, mais pas seulement:</li>
                                                <li>Informations requises lors de votre inscription sur le site, comme votre nom d’utilisateur, votre mot de passe, votre adresse e-mail, votre date de naissance, votre sexe, votre code postal, votre pays de résidence ou données bancaires.</li>
                                                <li>Informations supplémentaires fournies via des plateformes de partage, réseaux sociaux ou d’autres Services Intégrés.</li>
                                                <li>Informations fournies suite à la résolution d’un litige, courriel envoyé à notre site internet ou à notre adresse physique; et</li>
                                                <li>Informations relatives à votre localisation et à celle de votre appareil, y compris le numéro d’identification unique de votre appareil, si vous l’avez activé sur votre appareil mobile.</li>
                                                <li>Informations provenant d’autres sources : nous pouvons recevoir ou collecter des informations supplémentaires vous concernant, provenant d’autres services intégrés et les intégrer aux informations sur notre compte. Ces informations peuvent être les suivantes, mais pas seulement : données relatives à la démographie, à la navigation, données sur des contacts additionnels et données supplémentaires sur vous provenant d’autres sources, telles que les autorités publiques, dans la limite de la réglementation en vigueur.</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2-6" >
                                        Fins commerciales
                                    </h4>
                                </div>
                                <div id="fqa2-6" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Vous consentez à ce que nous utilisions les informations recueillies pour vous envoyer des offres, personnalisées ou non, ou de vous contacter par téléphone au sujet de produits ou services offerts par Bienseloger.immo ou les entreprises de Capital Consulting.<br>Nous n’allons ni vendre, ni prêter vos données personnelles à des tiers dans le cadre de leur campagne marketing sans accord explicite de votre part. Nous avons la possibilité d’allier vos données avec celles que nous recueillons dans d’autres entreprises et les utiliser afin d’améliorer et personnaliser nos services et fonctionnalités.<br>Lorsque vous ne souhaitez plus recevoir nos offres promotionnelles, vous pouvez, lorsque possible, modifier les paramètres de votre compte, ou cliquer sur le lien pour vous désinscrire de la campagne de communication que vous avez reçue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2-7" >
                                        Accès, vérification et modification de vos données personnelles
                                    </h4>
                                </div>
                                <div id="fqa2-7" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            Nous ne pouvons pas modifier vos données personnelles ou informations sur votre compte. En revanche, vous pouvez directement accéder à certaines de vos données que nous conservons et les modifier par l’intermédiaire de vos paramètres en vous connectant sur votre compte Bienseloger.immo. Lorsque vous déposez une annonce, il se peut que vous n’ayez pas la possibilité de changer la liste de vos annonces ou supprimer vos messages. Dans ce cas, vous pouvez nous contacter et nous vous répondrons dans un délai raisonnable après vérification de votre identité et de la réglementation en vigueur. Vous pouvez également contacter le Support Client à l’adresse suivante : contact@bienseloger.immo pour accéder aux données personnelles inaccessibles à partir de Bienseloger.immo. Pour bénéficier de ce service, il peut y avoir des frais supplémentaires, cependant ces frais ne dépasseront pas la limite autorisée par la loi en vigueur. S’il s’avère que vos données sont incorrectes, incomplètes ou incohérentes, vous pouvez faire une demande pour modifier ou supprimer vos données. Pour en savoir plus sur vos données que nous sauvegardons, veuillez envoyer un e-mail avec l’objet « Renseignement – Politique de Confidentialité », à contact@bienseloger.immo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2-8" >
                                        Autres informations
                                    </h4>
                                </div>
                                <div id="fqa2-8" class="panel-collapse collapse fqa-body">
                                    <div class="panel-body">
                                        <p>
                                            <strong>Abus et communications commerciales non sollicitées ("spam") :</strong> Nous ne tolérons aucune forme d’abus sur notre site. Il vous est interdit d’ajouter d’autres utilisateurs de vendito.ci sur votre liste de diffusion (email ou courriel) pour des raisons commerciales, y compris lorsqu’un utilisateur a effectué un achat avec vous, à moins de vous avoir donné son accord au préalable. Si vous êtes témoin d’un abus ou une fraude sur notre site (spam ou courriel frauduleux), merci de nous alerter à contact@bienseloger.immo.<br>
                                            Il est également interdit d’utiliser nos outils de communication mis à disposition des utilisateurs pour envoyer des spams ou des contenus enfreignant nos Termes et Condition d’utilisation. Pour des raisons de sécurité, nous pouvons passer en revue les messages pour détecter les spams, virus, hameçonnages ou autres contents frauduleux, activités ou contenus illégaux. Les messages que nous envoyons à travers ces ressources, sont sauvegardés pour une période de temps limitée.<br>
                                            <strong>Tiers :</strong> Sauf mention spéciale dans la présente Politique de Confidentialité, celle-ci ne s’applique qu’à l’utilisation et le transfert de données que nous avons nous-même collecté. Bienseloger.immo n’a pas d’emprise sur les politiques de confidentialité mises en place par des tiers partis et qui pourraient s’exercer sur vous. Lorsque nous collaborons avec des services tiers ou faisons appel à leurs outils, nous indiquerons explicitement quelle politique de confidentialité vous concerne. Par conséquent, nous vous encourageons fortement à poser des questions et à vous renseigner avant de partager vos données personnelles avec d’autres parties.<br>
                                            <strong> Contactez-nous :</strong> Si vous avez des questions ou avez besoin de plus d’informations sur Bienseloger.immo ou notre site, veuillez nous contacter à contact@bienseloger.immo.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}