{% extends'layout.kmphtml.twig' %}
{% block title %}BIENSELOGER | INSCRIPTION{% endblock %}
{% block contenu %}

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Créer un compte agent </h1>
                    <a href="/" style="font-size: 20px; font-weight: bold" ><i class="fa fa-home"></i> Accueil <i class="fa fa-angle-right" ></i></a> S'INSCRIRE
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->
    <!-- register-area -->
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container">

            <div class="col-md-12">
                {% if message == 'success' %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-check fa-2x" style="font-size: 16"></i> {{ message_succes }}
                    </div>
                {% elseif message == 'echecc' %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-close fa-2x" style="font-size: 16"></i> {{ message_echec }}
                    </div>

                {% elseif message == 'echec' %}

                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-close fa-2x" style="font-size: 16"></i> {{ add_exit }}
                    </div>

                {% endif %}
                <div class="box-for overflow">
                    <div class="col-md-12 col-xs-12 register-blocks">
                        <h2>Nouveau Compte : </h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <br>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-4">
                                    <div class="picture-container">
                                        <div class="picture">
                                            <img src="public/assets/img/default-property.jpg" accept=".jpg,.png,.jpge,.gif" class="picture-src" id="wizardPicturePreview" title=""/>
                                            <input required name="ImageAgent" type="file" id="wizard-picture">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Nom</label>
                                        <input type="text" name="n" class="form-control" id="name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Prénom</label>
                                        <input type="text" name="p" class="form-control" id="name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" class="form-control" id="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="pwd" class="form-control" id="password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Téléphone</label>
                                        <input type="text" name="tel" class="form-control" id="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Commune</label>
                                        <input type="text" name="commune" class="form-control" id="password">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="password">Description</label>
                                        <textarea name="desc" class="form-control" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" name="register" class="btn btn-default">Register</button>
                            </div>
                        </form>
                        <p class="text-center">Vous avez déjà un compte?<a href="/login">Connectez-vous ici!</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}